
<ion-header>
  <ion-navbar>
    <div class="gradientDiv">
        <h2>VENUE</h2>
    </div>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-card>
        <img src="assets/imgs/venue-bg.png"/>
        <ion-card-content>
          <ion-card-title>
            IFEMA
            </ion-card-title>
          <p>
              Feria de Madrid<br>
              Avda. del Partenón<br>
              528042 Madrid<br>
              España<br>
          </p>
        </ion-card-content>
    </ion-card>

    
</ion-content>
