<ion-header>

  <ion-navbar>
      <div class="gradientDiv">
          <h2>VENUE</h2>
      </div>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <p>
        Aeropuerto T1 - T2 - T3 To IFEMA Feria de Madrid
    </p>
   <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d24282.725016609067!2d-3.6147150945186266!3d40.46772872800012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0xd4231c568951ad1%3A0x5bb8fa46230661ce!2sAeropuerto+T1+-+T2+-+T3%2C+28042+Madrid%2C+Spain!3m2!1d40.4682866!2d-3.5711059!4m5!1s0xd422e50d152df37%3A0x801ce4be7e7a5eec!2sIFEMA+Feria+de+Madrid%2C+Av.+Parten%C3%B3n%2C+5%2C+28042+Madrid%2C+Spain!3m2!1d40.465582!2d-3.6165512!5e0!3m2!1sen!2sin!4v1533219624687" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
   
   <p>
        Aeropuerto T4 To IFEMA Feria de  Madrid
    </p>
   <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d24278.17031620886!2d-3.6153640444970216!3d40.480324521783544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0xd422e0f243c1589%3A0xeaa1e6620c147cdb!2sAeropuerto+T4%2C+28042+Madrid%2C+Spain!3m2!1d40.4917613!2d-3.5935536999999997!4m5!1s0xd422e50d152df37%3A0x801ce4be7e7a5eec!2sIFEMA+Feria+de+Madrid%2C+Avenida+Parten%C3%B3n%2C+Madrid%2C+Spain!3m2!1d40.465582!2d-3.6165512!5e0!3m2!1sen!2sin!4v1533219755529" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe> 


</ion-content>
