page-register {
    * {
        margin: 0;
        padding: 0;
    }
    .headerp {
        text-align: center;
        padding: 60px;
    }
    .gradientDiv {
        text-align: right;
        padding: 18px 16px 12px 20px;
        color: #fff;
        background: linear-gradient(-90deg, #2b3b70, #e8eaef);
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
    }
    .fa-envelope {
        padding-top: 16px;
    }
    .contentp {
        margin-top: 60px;
    }
    .contentp>form {
        width: 90%;
        margin: 30px auto;
        margin-bottom: 10px;
        box-sizing: border-box;
    }
    .input-container {
        display: -ms-flexbox;
        /* IE10 */
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        height: 50px;
        border-radius: 10px;
        overflow: hidden;
    }
    #lastInput {
        margin-bottom: 0px;
    }
    form {
        .icon {
            padding: 16px;
            background: #002169;
            color: white;
            min-width: 30px;
            text-align: center;
        }
    }
    .icon img {
        width: 22px;
    }
    .input-field {
        width: 100%;
        padding: 14px;
        outline: none;
        border: none;
        color: #66696D;
        border: 1px solid #002169;
        border-radius: 0px 10px 10px 0px;
        background: white;
    }
    .mandatoryText>p {
        text-align: right;
        margin: 10px 0px;
        color: #7D7F83;
    }
    button {
        width: 100%;
        padding: 14px;
        font-size: 16px;
        text-align: center;
        border-radius: 10px;
        outline: none;
        border: none;
        color: #fff;
        background-color: #008EBB;
    }
    .footerText {
        text-align: center;
    }
    .smMarginTop {
        margin-top: 20px;
    }
}