<ion-header no-border class="shadow-border">
    <ion-navbar hideBackButton color="white" class='iconLG'>
        <ion-title mode="ios">
            <img src="assets/imgs/nsicon.svg">
        </ion-title>
        <ion-buttons left>
            <button ion-button (click)='back();'>
        <ion-icon ios="ios-arrow-round-back" color='secondary' md="md-arrow-round-back"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="gradientDiv">
        <h4>
            REGISTRATION
        </h4>
    </div>
    <div class="contentp">
        <form>
            <div class="input-container">
                <i class="fa fa-user icon"> <img src="assets/imgs/iconusername.svg" /> </i>
                <input class="input-field" [(ngModel)]="fullname" type="text" placeholder="Full Name*" name="usrnm">
            </div>
            <div class="input-container">
                <i class="fa fa-envelope icon"> <img src="assets/imgs/iconemail.svg" /> </i>
                <input class="input-field" [(ngModel)]="email" type="email" placeholder="Email Address*" name="email">
            </div>
            <div class="input-container">
                <i class="fa fa-globe icon"> <img src="assets/imgs/iconcountry.svg" /> </i>
                <select class="input-field" [(ngModel)]="country" id="country" name="country">
                  <option hidden value="" style="color:red;">Country*</option>
                  <option *ngFor="let country of countryList" [ngValue]="country.countryname">
                    {{country.countryname}}
                  </option>
                </select>
            </div>
            <div class="input-container" id="lastInput">
                <i class="fa fa-lock icon"> <img src="assets/imgs/iconpassword.svg" /> </i>
                <input class="input-field" [(ngModel)]="accesscode" type="text" placeholder="Access Code*" name="number">
            </div>
            <div class="mandatoryText">
                <p>
                    *Mandatory field
                </p>
            </div>
            <button class="smMarginTop" ion-button full round color="secondary" (click)="onRegister();">SUBMIT</button>
        </form>
    </div>

    <div class="footerText smMarginTop">
        <p>
            Personal information collected will only be used for the purpose of this event.
        </p>
    </div>
</ion-content>

<ion-footer no-border>
    <ion-toolbar color="white" align-title="center">
        <ion-title mode="ios">
            <img src="assets/imgs/nnilogo.svg">
        </ion-title>
    </ion-toolbar>
</ion-footer>