<ion-header no-border class="shadow-border">
    <ion-navbar color="white" align-title="center">
        <button ion-button menuToggle icon-only>
          <ion-icon name='menu'></ion-icon>
        </button>

        <ion-title mode="ios">
            <img src="assets/imgs/nsicon.svg">
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content>

    <div class="gradientDiv">
        <h2> NOTES </h2>
    </div>

    <form padding class="marginTop">
        <p>Create Notes:</p>

        <div class="input-container">
            <ion-icon name="contacts"></ion-icon>
            <select class="input-field" (change)="onTopicSelect($event)">
              <option value="">Select Topic</option>
              <ng-container *ngFor="let topic of topics?.content.body">
                  <option [value]="topic.Topic" *ngIf="topic.Topic !== '' ">
                      {{ topic.Topic }}
                  </option>
              </ng-container>
            </select>
        </div>

        <div class="input-container2">
            <textarea class="input-field2" name="message" rows="10" cols="60" type="text" placeholder="Enter your question here" [(ngModel)]="notes" name="notes"></textarea>
        </div>
        <button ion-button full round color="secondary" (click)="saveNote()">SUBMIT</button>
    </form>
</ion-content>