page-modal {
    .marginTop {
        margin-top: 40px;
    }
    form {
        .input-container {
            display: -ms-flexbox;
            /* IE10 */
            display: flex;
            width: 100%;
            margin-bottom: 20px;
            height: 50px;
            border-radius: 10px;
            overflow: hidden;
        }
        .input-container2 {
            display: flex;
            width: 100%;
            margin-bottom: 20px;
            border-radius: 10px;
            overflow: hidden;
        }
        .icon {
            padding: 16px;
            background: #002169;
            color: white;
            min-width: 30px;
            text-align: center;
        }
        .input-field2 {
            width: 100%;
            padding: 14px;
            outline: none;
            border: none;
            color: #66696D;
            border: 1px solid #002169;
            border-radius: 10px;
            background: white;
            text-align: left;
        }
        .input-field {
            width: 100%;
            padding: 14px;
            outline: none;
            border: none;
            color: #66696D;
            border: 1px solid #002169;
            border-radius: 0px 10px 10px 0px;
            background: white;
        }
    }
}