<ion-header no-border class="shadow-border">
    <ion-navbar color="white" align-title="center">
        <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>

        <ion-title mode="ios">
            <img src="assets/imgs/nsicon.svg">
        </ion-title>
    </ion-navbar>
</ion-header>


<div class="contentDiv">
    <div class="gradientDiv">
        <h2>POLLING</h2>
    </div>

    <ion-grid>
        <ion-row padding>
            <ion-col col-12>
                <p>Choose the option:</p>
            </ion-col>
        </ion-row>

        <ion-row text-center>
            <ion-col col-4>
                <button ion-button round large (click)="submitPoll($event)">A</button>
            </ion-col>
            <ion-col col-4>
                <button ion-button round large (click)="submitPoll($event)">B</button>
            </ion-col>
            <ion-col col-4>
                <button ion-button round large (click)="submitPoll($event)">C</button>
            </ion-col>
        </ion-row>

        <ion-row text-center>
            <ion-col col-4>
                <button ion-button round large (click)="submitPoll($event)">D</button>
            </ion-col>
            <ion-col col-4>
                <button ion-button round large (click)="submitPoll($event)">E</button>
            </ion-col>
            <ion-col col-4>
                <button ion-button round large (click)="submitPoll($event)">F</button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <p padding *ngIf="isSubmitted">Option "{{ polloption }}" submitted successfully.</p>

</div>