page-polling {
    .contentDiv{
        margin-top: 56px;
        position: relative;
        background: #fff;
    }
    .button-ios, .button-md{
        border: 6px solid #f4f4f4;
        color:#008EBB;
        background: #fff;
    }
    .button-ios:hover, .button-md:hover {
        background-color: #008EBB !important;
        color: #fff;
    }

    .button-round-ios,.button-round-md {
        border-radius: 40px;
        padding: 0 4rem;
        height: 3em;
        font-size: 2em;
    }
   
}
