page-agenda {

    .contentDiv{
        margin-top: 56px;
        position: relative;
        background: #fff;
    }

    .grid {
        padding: 0px;
        color: color($colors, primary);
    }
    .blueBG {
        background: color($colors, blue) !important;
    }
    .colorwhite {
        color: color($colors, white) !important;
    }
    .colorDark {
        color: color($colors, dark) !important;
    }
    .smFont {
        font-size: 10px;
    }
    p {
        margin: 0px 0px;
    }
    ion-row:nth-child(odd) {
        background: rgba(0, 143, 188, 0.10);
        border: 1px solid #008FBC;
    }
    .headR {
        .col-3 {
            flex: 0 0 25%;
            width: 25%;
            max-width: 25%;
        }
        .col-4 {
            flex: 0 0 33.33333%;
            width: 33.33333%;
            max-width: 33.33333%;
        }
        .col-5 {
            flex: 0 0 41.66667%;
            width: 41.66667%;
            max-width: 41.66667%;
        }
        
    }
}