<ion-header no-border class="shadow-border">
    <ion-navbar color="white" align-title="center">
        <button ion-button menuToggle icon-only>
          <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title mode="ios">
            <img src="assets/imgs/nsicon.svg">
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="gradientDiv" >
        <h2>{{agendaPage?.title}}</h2>
    </div>

    <ion-grid>
        <ion-row padding class="headR blueBG colorwhite">
            <ion-col *ngFor="let header of agendaPage?.content.head" [class]="header.col">{{header.head}}</ion-col>
        </ion-row>
        <ion-row padding *ngFor="let cont of agendaPage?.content.body">
            <ion-col col-3>
                <p [innerHTML]="cont.Time"></p>
            </ion-col>
            <ion-col col-5>
                <p>
                    <b [innerHTML]="cont.Topic"></b>
                </p>
            </ion-col>
            <ion-col col-4>
                <p [innerHTML]="cont.speaker"></p>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>