<ion-header no-border class="shadow-border">
    <ion-navbar color="white" align-title="center">
        <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>

        <ion-title mode="ios">
            <img src="assets/imgs/nsicon.svg">
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <div class="gradientDiv">
        <h2>ASK A QUERY</h2>
    </div>

    <form padding class="marginTop">
        <div class="input-container">
            <ion-icon name="contacts"></ion-icon>
            <select class="input-field" (change)="onSpeakerSelect($event)" [(ngModel)]="selectVal" name="SelectVal">
                <option value="">Select speaker</option>
                <ng-container *ngFor="let speaker of speakerDetails?.content.body; let i = index">
                    <option [value]="i" *ngIf="speaker.speaker !== '' ">
                        {{ speaker.speaker }}
                    </option>
                </ng-container>
            </select>
        </div>

        <div class="smHeight">
            <p #dataContainer></p>
        </div>

        <div class="input-container2">
            <textarea class="input-field2" name="message" rows="10" cols="60" type="text" placeholder="Enter your question here" [(ngModel)]="query" name="query"></textarea>
        </div>
        <button ion-button full round color="secondary" (click)="submitQuery()">SUBMIT</button>
    </form>
    <p padding *ngIf="isSubmitted">Query submitted Successfully.</p>
</ion-content>