page-venue {
    .tabbar {
        opacity: 1;
        opacity: 1;
        position: relative;
        top: 57px;
    }
    .tabs-md .tabbar,
    .tabs-ios .tabbar {
        background: #fff;
    }
    .tabs-ios .tab-button-icon,
    .tabs-md .tab-button-icon {
        position: absolute;
        width: 100%;
        left: 0px;
        text-align: left;
        padding-left: 20px;
    }
    .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
        color: #002169;
        -webkit-transform: translate3d(0, -2px, 0);
        transform: translate3d(0, -2px, 0);
        border-bottom: 2px solid #002169;
        padding: 10px 0px;
        line-height: 30px;
        padding-left: 20px;
    }
    .tabs-ios .tab-button[aria-selected=true] {
        color: #002169;
        border-bottom: 2px solid #002169;
    }
    .tabs-ios .tab-button-icon {
        margin-bottom: 0px;
    }
    .card-md,
    .card-ios {
        margin: 10px 10px 10px 10px;
    }
    .card-title-md {
        display: block;
        font-size: 2.4rem;
        line-height: 1;
        color: #008FBC;
        margin: 2px 0;
        padding: 5px 0;
        font-weight: bold;
    }
    .card-md p {
        margin: 0 0 2px;
        font-size: 1.6rem;
        font-weight: normal;
        line-height: 1.5;
        color: #000;
    }
    .segment-md .segment-button ion-icon,
    .segment-ios .segment-button ion-icon {
        font-size: 2.6rem;
        line-height: 4rem;
        position: absolute;
        left: 15px;
    }
    .segment-md .segment-button {
        border-bottom-color: rgba(0, 0, 0, 0);
    }
    .segment-ios .segment-button ion-icon {
        font-size: 2.6rem;
        line-height: 2.4rem;
        position: absolute;
        left: 15px;
    }
    .segment-ios .segment-button.segment-activated {
        color: #002169 !important;
        background-color: transparent;
        opacity: 1;
        -webkit-transition: 100ms all linear;
        transition: 100ms all linear;
        border-bottom: 2px solid #002169 !important;
    }
    .toolbar-ios .segment-button {
        max-width: 100%;
        height: 40px;
        font-size: 1.2rem;
        line-height: 2.5rem;
        border-radius: 0px !important;
        border-bottom: 0px;
    }
    .segment-ios .segment-button {
        border: none;
        opacity: 0.5;
        padding-top: 5px;
    }
}