<ion-header no-border class="shadow-border">
    <ion-navbar color="white" align-title="center">
        <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
        <ion-title mode="ios">
            <img src="assets/imgs/nsicon.svg">
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="gradientDiv">
        <h2>VENUE</h2>
    </div>
    <ion-toolbar no-border-top color="white" class="marginTop noPadding">
        <ion-segment [(ngModel)]="venue">
            <ion-segment-button value="VENUE DETAILS">
                <ion-icon name="document"></ion-icon>
                VENUE DETAILS
            </ion-segment-button>
            <ion-segment-button value="LOCATION">
                <ion-icon name="mail"></ion-icon>
                LOCATION
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <div [ngSwitch]="venue">
        <div *ngSwitchCase="'VENUE DETAILS'">
            <ion-card *ngFor="let venue of venuePage?.venuedetail">
                <img [src]="venue.image" #myImage (click)="presentImage(myImage)" />
                <ion-card-content>
                    <ion-card-title>
                        {{venue.title}}
                    </ion-card-title>
                    <div [innerHTML]='venue.content'></div>
                </ion-card-content>
            </ion-card>
        </div>
        <div *ngSwitchCase="'LOCATION'" padding>
            <div *ngFor="let cont of venuePage?.location">
                <p>{{cont.title}}</p>
                <iframe [src]="locationURL(cont?.utl)" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ion-content>