<ion-header no-border class="shadow-border">
    <ion-navbar color="white" align-title="center">
        <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
        <ion-title mode="ios">
            <img src="assets/imgs/nsicon.svg">
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="gradientDiv">
        <h2>{{facultyPage?.title}}</h2>
    </div>
    <div class="mdMarginTop">
        <div class="tab" *ngFor="let cont of facultyPage?.content; let i=index">
            <ion-item>
                <input id="tab-{{i}}" type="checkbox" name="tabs">
                <div class="imgStyle">
                    <img class="img" [src]="cont.photourl" />
                </div>
                <label for="tab-{{i}}">
          <h2>{{cont.name}}</h2>
          <p>{{cont.shortdesc}}</p>
        </label>
                <div class="tab-content">
                    <div [innerHTML]="cont.bio"></div>
                </div>
            </ion-item>
        </div>
    </div>
</ion-content>