page-home {
    background-color: white;
    .bgimg {
        background: url('../assets/imgs/bg.png') no-repeat center center fixed;
        background-image: url('../assets/imgs/bg.png');
        background-size: cover;
        animation-name: backgroundImage;
        animation-duration: 500ms;
        background-color: white;
    }
    * {
        margin: 0;
        padding: 0;
    }
    @keyframes backgroundImage {
        from {
            left: -100%;
        }
        to {
            left: 0%;
        }
    }
    .rowp {
        max-width: 240px;
        opacity: 0;
        margin: 28px 18px;
        width: 30%;
        animation-name: backgroundText;
        animation-duration: 500ms;
        animation-delay: 800ms;
        animation-fill-mode: forwards;
    }
    @keyframes backgroundText {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .bannerImg {
        position: absolute;
        right: -100%;
        margin: 28px 18px;
        width: 60%;
        max-width: 480px;
        animation-name: bannerImg;
        animation-duration: 500ms;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }
    @keyframes bannerImg {
        from {
            right: -100%;
        }
        to {
            right: 0%;
        }
    }
    .contentImg {
        position: absolute;
        top: 30%;
        right: -100%;
        margin: 15px;
        width: 52%;
        max-width: 380px;
        animation-name: contentImg;
        animation-duration: 500ms;
        animation-delay: 1500ms;
        animation-fill-mode: forwards;
    }
    @keyframes contentImg {
        from {
            right: -100%;
        }
        to {
            right: 0%;
        }
    }
    .footerImg {
        position: absolute;
        bottom: 0px;
        right: -100%;
        width: 45%;
        max-width: 380px;
        margin: 28px 18px;
        animation-name: footerImg;
        animation-duration: 500ms;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }
    @keyframes footerImg {
        from {
            right: -100%;
        }
        to {
            right: 0%;
        }
    }
    .logoImg {
        position: absolute;
        bottom: 0px;
        left: -100%;
        margin: 10px 10px;
        width: 42%;
        max-width: 280px;
        animation-name: logoImg;
        animation-duration: 500ms;
        animation-delay: 2500ms;
        animation-fill-mode: forwards;
    }
    @keyframes logoImg {
        from {
            left: -100%;
        }
        to {
            left: 0%;
        }
    }
    /* Media Query */
    /* Portrait */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
        .bgimg {
            background-image: url('../assets/imgs/ipadbg.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .rowp {
            max-width: 240px;
            width: 32%;
        }
        .bannerImg {
            width: 62%;
            max-width: 480px;
        }
        .contentImg {
            width: 52%;
            max-width: 380px;
        }
        .footerImg {
            width: 48%;
            max-width: 380px;
        }
        .logoImg {
            width: 38%;
            max-width: 280px;
        }
    }
}

ion-backdrop.backdrop-no-tappable {
    cursor: auto;
    opacity: 0 !important;
}

.loading-md .loading-wrapper {
    border-radius: 0px;
    max-width: 280px;
    max-height: 90%;
    color: #000;
    background: transparent;
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: none;
    padding: 0px;
    position: fixed;
    bottom: 80px;
}