<ion-content class="bgimg">
    <img class="rowp" src="assets/imgs/scn.png" />
    <img class="bannerImg" src="assets/imgs/bannername.png" />
    <img class="contentImg" src="assets/imgs/contentext.png" />
    <img class="footerImg" src="assets/imgs/espenlogo.png" />
    <img class="logoImg" src="assets/imgs/nnilogo.svg" />
</ion-content>