.noPadding{
    padding: 0px !important;
}
.mdMarTop{
    margin-top: 66px;
}



/* left menu */
.menu-inner .toolbar-md{
    max-height: 190px;
}
.toolbar-title-md{
    padding: 0px;
}
#notifications-badge {
    border-radius: 50% !important;
    padding: 4px 6px 2px 6px;
}
.header-md::after{
    left: 0;
    bottom: -5px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: none;
    background-repeat: repeat-x;
    content: "";
}
.gradientDiv {
    text-align: right;
    padding: 0px 20px 0px 20px;
    color: #fff;
    background: -webkit-gradient(linear, right top, left top, from(#2b3b70), to(#e8eaef));
    background: linear-gradient(-90deg, #2b3b70, #e8eaef);
    position: relative;
    width: 100%;
    float: left;
  }
  .gradientDiv h2{
      margin-top: 14px !important;
  }
.leftMenu .item-md .item-button {
    padding: 0 0.6em;
    height: 25px;
    font-size: 1.5rem;
}
.leftMenu  .item-inner {
    border-bottom: 0px !important;
}

.label-md {
    margin: 10px 8px 10px 0;
}
.iconLG .bar-button-md{
    font-size: 1.5em;
}

  .button-round-md {
    border-radius: 15px;
    padding: 0 3.6rem;
    height: 3.5em;
}
.bar-button-default-md{
    color: #008EBB !important;
}

/* ios */
.menu-inner .toolbar-ios {
    height: 90px !important;
}
.header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border-width: 0;
}
.menu-inner .toolbar-ios ion-title{
    padding: 0 !important;
    width: 100%;
}
.toolbar-ios ion-title{
    padding: 0 30px 0px 30px !important;
}
.iconLG .bar-button-ios{
    font-size: 2em;
}


@media (min-width: 320px) and (max-width: 374px) {
    h5 {
        font-size: 1.6rem;
    }
    p{
        font-size: 1.2rem;
    }
    page-preregister .rowp {
        margin-bottom: 15px;
    }
}