<ion-header no-border class="shadow-border">
    <ion-navbar color="white" align-title="center">
        <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>

        <ion-title mode="ios">
            <img src="assets/imgs/nsicon.svg">
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="gradientDiv">
            <h2>NOTIFICATION</h2>
        </div>
        <ion-card *ngFor="let notification of notificationPages">
            <ion-card-content>
                <ion-row>
                    <ion-col col-2>
                        <ion-icon color="secondary" name="information-circle"></ion-icon>
                    </ion-col>
                    <ion-col col-10>
                        <p>
                            {{ notification?.message }}
                        </p>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
</ion-content>
