page-notification {

    ion-icon {
        display: inline-block;
        font-size: 2.2em;
    }
    .card-md p {
        margin: 0 0 2px;
        font-size: 1.6rem;
        font-weight: normal;
        line-height: 1.2;
        color: #000;;
    }
    .contentDiv{
        margin-top: 56px;
        position: relative;
        background: #fff;
    }

    .gradientDiv{
        margin-bottom: 20px;
    }
 .card-md p {
        margin: 7px 0 2px;
        font-size: 1.6rem;
        font-weight: normal;
        line-height: 1.2;
        color: #000;;
    }
    
}
