// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #002169,
  secondary:  #008EBB,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #000,
  white:      #fff,
  blue:       #008FBC,
);


//common


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

$toolbar-ios-height : 56px;
$toolbar-md-height : 56px;
$toolbar-wp-height : 56px;

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

  $toolbar-ios-height : 80px;
  $toolbar-md-height : 80px;
  $toolbar-wp-height : 80px;
 }

@font-face {
	font-family: 'dinregularwebfont';
	src: url('../assets/fonts/dinregularwebfont.eot');
	src: local('dinregularwebfont'), url('../assets/fonts/dinregularwebfont.woff') format('woff'), url('../assets/fonts/dinregularwebfont.ttf') format('truetype');
}

$font-family-md-base: "dinregularwebfont";
$font-family-ios-base: "dinregularwebfont";
$font-family-wp-base: "dinregularwebfont";
