<ion-menu [content]="content" color='white'class="noPadding">
    <ion-header>
        <ion-toolbar  color='white' class="noPadding">
            <ion-title class="noPadding">
                <img src="assets/imgs/menu-bg.png" width="100%">
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list class="leftMenu">
            <ion-item>
                <ion-icon ios="ios-calendar" md="md-calendar" color='secondary' item-start></ion-icon>
                <button menuClose ion-button clear (click)="agendaPage()" >AGENDA</button>
            </ion-item>
            <ion-item>
                <ion-icon ios="ios-contact" md="md-contact" color='secondary' item-start></ion-icon>
                <button menuClose ion-button clear (click)="facultyPage()" >FACULTY</button>
            </ion-item>
            <ion-item>
                <ion-icon ios="ios-map" md="md-map" color='secondary' item-start></ion-icon>
                <button menuClose ion-button clear (click)='venuePage()' >VENUE</button>
            </ion-item>
            
            <ion-item>
                <ion-icon ios="ios-help-circle" color='secondary' md="md-help-circle" item-start></ion-icon>
                <button menuClose ion-button clear (click)="askaqueryPage()"  >ASK A QUERY</button>
            </ion-item>
            <ion-item>
                <ion-icon ios="ios-create" md="md-create" color='secondary' item-start></ion-icon>
                <button menuClose ion-button clear (click)="notePage()" >NOTES</button>
            </ion-item>
            <ion-item>
                <ion-icon ios="ios-albums" md="md-albums" color='secondary' item-start></ion-icon>
                <button menuClose ion-button clear (click)="slidesPage()" >SLIDES</button>
            </ion-item>
            <ion-item>
                <ion-icon ios="ios-notifications" md="md-notifications" color='secondary' item-start></ion-icon>
                <button menuClose ion-button clear (click)="notificationPage()" >NOTIFICATION</button>
                <ion-badge id="notifications-badge" color="danger" item-end *ngIf="notification !== 0">{{ notification }}</ion-badge>  
            </ion-item>
            <ion-item>
                <ion-icon ios="ios-pie" md="md-pie" color='secondary' item-start></ion-icon>
                <button menuClose ion-button clear (click)="eventPage()">EVENT SURVEY</button>
            </ion-item>
            <ion-item>
                <ion-icon ios="ios-stats" md="md-stats" color='secondary' item-start></ion-icon>
                <button menuClose ion-button clear (click)='pollingPage()'>POLLING</button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>