<ion-header no-border class="shadow-border">
    <ion-navbar color="white" align-title="center">
        <button ion-button menuToggle icon-only>
          <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title mode="ios">
            <img src="assets/imgs/nsicon.svg">
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="gradientDiv">
        <h2>{{intoPage?.title}}</h2>
    </div>
    <div class="contentp" [innerHTML]="intoPage?.content">
    </div>
</ion-content>

<ion-footer no-border>
    <ion-toolbar color="white" align-title="center">
        <ion-title mode="ios">
            <img src="assets/imgs/nnilogo.svg">
        </ion-title>
    </ion-toolbar>
</ion-footer>