page-intro {
  
    ul {
        margin-left: 10px;
        font-size: 16px;
        padding: 0px 16px;
        li {
            padding-bottom: 5px;
        }
    }
    .contentp {
        margin-top: 56px;
    }
    .contentp>p {
        padding: 0px 16px;
        font-size: 16px;
        text-align: justify;
    }
    
}