
<ion-header>

  <ion-navbar>
    <div class="gradientDiv">
      <h2>ADD NOTE</h2>
    </div>
  </ion-navbar>

</ion-header>


<ion-content>

    <ion-card class="mdmarginTop">
      <ion-card-header text-wrap >
          Nutrition support is important for critically ill patients to facilitate healing
      </ion-card-header>
  
      <ion-card-content>
        <ion-row>
          <ion-col col-12 class="noPadding">
               <p>
                  Systematic use of oral nutritional supplements improves treatment tolerance in head and neck cancer patients
               </p>
              <ion-note>
                12:30PM
              </ion-note>
          </ion-col>
        
        </ion-row>
      </ion-card-content> 
    </ion-card>
  
    <ion-card >
        <ion-card-header text-wrap >
            Nutrition support is important for critically ill patients to facilitate healing
        </ion-card-header>
    
        <ion-card-content>
          <ion-row>
            <ion-col col-12 class="noPadding">
                 <p>
                    Systematic use of oral nutritional supplements improves treatment tolerance in head and neck cancer patients
                 </p>
                <ion-note>
                  12:30PM
                </ion-note>
            </ion-col>
           
          </ion-row>
        </ion-card-content> 
      </ion-card>
  
      <ion-card >
          <ion-card-header text-wrap >
              Nutrition support is important for critically ill patients to facilitate healing
          </ion-card-header>
      
          <ion-card-content>
            <ion-row>
              <ion-col col-12 class="noPadding">
                   <p>
                      Systematic use of oral nutritional supplements improves treatment tolerance in head and neck cancer patients
                   </p>
                  <ion-note>
                    12:30PM
                  </ion-note>
              </ion-col>
            </ion-row>
          </ion-card-content> 
        </ion-card>

    <ion-buttons >
        <button (click)="modalPage()" ion-button  round icon-only color="blue"  >
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
  
  </ion-content>
