page-eventsurvey {
    .mdmarginTop{
        margin-top: 80px;
    }
    .contentDiv{
        margin-top: 56px;
        position: relative;
        background: #fff;
    }

    .hide {
        display: none;
    }
    
}
