<ion-header no-border class="shadow-border">
  <ion-navbar color="white" align-title="center">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>

  <ion-title mode="ios">
    <img src="assets/imgs/nsicon.svg">
  </ion-title>
</ion-navbar>
</ion-header>


<ion-content scroll="true" overflow-scroll="true">
    <div class="gradientDiv">
      <h2>EVENT SURVEY</h2>
    </div>
  
          <iframe id="eventSurvey" ng-class="{'hide': isSubmitted }"  src="http://mx2.us/NestleCM/Default.aspx" width="100%" frameborder="0" marginheight="0" marginwidth="0" height="100%">Loading...</iframe>
  <div id="alreadySubmitted" style="display: none;" >
    Already Submitted
  </div>

</ion-content>
