page-emailnote {

    .button-round-md {
        border-radius: 50%;
        padding: 0 3.6rem;
        height: 3.3em;
        width: 3.3em;
    }
    .button-round-ios {
        border-radius: 50%;
        padding: 0 3.6rem;
        height: 3em;
        width: 3em;
    }

    .bar-buttons-md, .bar-buttons-ios {
        position: fixed;
        bottom: 6px;
        right: 6px;
    }
    ion-card-header{
        font-weight: bold;
    }
    .card-md p{
        color: #008FBC !important;
    }
    .mdmarginTop{
        margin-top: 70px;
    }
    
}
