page-note {
    .marginTop {
        margin-top: 56px;
    }
    .tabbar {
        opacity: 1;
        opacity: 1;
        position: relative;
        top: 57px;
    }
    .tabs-md .tabbar,
    .tabs-ios .tabbar {
        background: #fff;
    }
    .ionFab {
        position:fixed;
        float: left;
        z-index: 999;
        bottom:10px;
        right:10px;
        width:100%;
        height: 60px;
        text-align: right;
    }
    .tabs-ios .tab-button-icon,
    .tabs-md .tab-button-icon {
        position: absolute;
        width: 100%;
        left: 20px;
        text-align: left;
    }
    .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
        color: #002169;
        -webkit-transform: translate3d(0, -2px, 0);
        transform: translate3d(0, -2px, 0);
        border-bottom: 2px solid #002169;
        padding: 10px 0px;
        line-height: 30px;
    }
    .tabs-ios .tab-button[aria-selected=true] {
        color: #002169;
        border-bottom: 2px solid #002169;
    }
    .tabs-ios .tab-button-icon {
        margin-bottom: 0px;
    }
    .button-round-md {
        border-radius: 50%;
        padding: 0 3.6rem;
        height: 3.3em;
        width: 3.3em;
    }
    .button-round-ios {
        border-radius: 50%;
        padding: 0 3.6rem;
        height: 3em;
        width: 3em;
    }
    ion-card-header {
        font-weight: bold;
    }
    .card-md p {
        color: #008FBC !important;
    }
    .segment-md .segment-button ion-icon,
    .segment-ios .segment-button ion-icon {
        font-size: 2.6rem;
        line-height: 4rem;
        position: absolute;
        left: 15px;
    }
    .segment-md .segment-button {
        border-bottom-color: rgba(0, 0, 0, 0);
    }
    .segment-ios .segment-button ion-icon {
        font-size: 2.6rem;
        line-height: 2.4rem;
        position: absolute;
        left: 15px;
    }
    .segment-ios .segment-button.segment-activated {
        color: #002169 !important;
        background-color: transparent;
        opacity: 1;
        -webkit-transition: 100ms all linear;
        transition: 100ms all linear;
        border-bottom: 2px solid #002169 !important;
    }
    .toolbar-ios .segment-button {
        max-width: 100%;
        height: 40px;
        font-size: 1.2rem;
        line-height: 2.5rem;
        border-radius: 0px !important;
    }
    .segment-ios .segment-button {
        border: none;
        opacity: 0.5;
        padding-top: 5px;
    }
    .RightB {
        position: fixed;
        width: 100%;
        bottom: 15px;
        right: 15px;
        text-align: right;
    }
    
    ion-fab {
        position: fixed;
        z-index: 999;
    }
}