<ion-header no-border class="shadow-border">
    <ion-navbar color="white" align-title="center">
        <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>

        <ion-title mode="ios">
            <img src="assets/imgs/nsicon.svg">
        </ion-title>
    </ion-navbar>
</ion-header>



<ion-content>
    <div class="gradientDiv">
        <h2> NOTES </h2>
    </div>

    <ion-toolbar no-border-top color="white" class="marginTop noPadding">
        <ion-segment [(ngModel)]="notes" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="ADD NOTE">
                <ion-icon name="document"></ion-icon>
                ADD NOTE
            </ion-segment-button>
            <ion-segment-button value="EMAIL NOTE">
                <ion-icon name="mail"></ion-icon>
                EMAIL NOTE
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>


    <div [ngSwitch]="notes">
        <div *ngSwitchCase="'ADD NOTE'">
            <ion-card class="mdmarginTop" *ngFor="let note of allNotes">
                <ion-card-header text-wrap>
                    {{ note?.topic }}
                    <!-- Nutrition support is important for critically ill patients to facilitate healing -->
                </ion-card-header>

                <ion-card-content>
                    <ion-row>
                        <ion-col col-12 class="noPadding">
                            <p>
                                {{ note?.notes }}
                                <!-- Systematic use of oral nutritional supplements improves treatment tolerance in head and neck cancer patients -->
                            </p>
                            <ion-note>
                                {{ note?.currTime }}
                            </ion-note>
                        </ion-col>

                    </ion-row>
                </ion-card-content>
            </ion-card>

            <div class="ionFab">
                <button (click)="modalPage()" ion-button round icon-only color="blue">
              <ion-icon name="add"></ion-icon>
            </button>
        </div>
        </div>

        <div *ngSwitchCase="'EMAIL NOTE'">
            <ion-card class="mdmarginTop" *ngFor="let note of allNotes; let i = index">
                <ion-card-header text-wrap>
                    {{ note?.topic }}
                    <!-- Nutrition support is important for critically ill patients to facilitate healing -->
                </ion-card-header>

                <ion-card-content>
                    <ion-row>
                        <ion-col col-10 class="noPadding">
                            <p>
                                {{ note?.notes }}
                                <!-- Systematic use of oral nutritional supplements improves treatment tolerance in head and neck cancer patients -->
                            </p>
                            <ion-note>
                                {{ note?.currTime }}
                                <!-- 12:30PM -->
                            </ion-note>
                        </ion-col>
                        <ion-col col-2 class="noPadding">
                            <ion-item>
                                <ion-checkbox color="secondary" (ionChange)="updateNoteSelected(i, $event)"></ion-checkbox>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
            <div class="ionFab">
                <button ion-button round icon-only color="blue" (click)="emailNotes()">
                    <ion-icon name="send"></ion-icon>
                </button>
            </div>
        </div>
    </div>

</ion-content>