page-preregister {
    .smMarginTop {
        margin-top: 30px;
    }
    ion-label {
        font-size: inherit;
        text-overflow: inherit;
    }
    .item-ios,
    .item-md {
        padding-left: 0px;
    }
    .item-md h2,
    .item-ios h2 {
        margin: 0px 0px 10px 0px !important;
        color: #008EBB;
        font-size: 1.6rem;
    }
    .item-md p,
    .item-ios p {
        color: #000;
        line-height: 1.2em;
    }
    ion-label {
        white-space: normal;
    }
    .item-md ion-thumbnail ion-img,
    .item-md ion-thumbnail img {
        width: 90px;
        height: 90px;
    }
    .list-ios>.item-block:last-child,
    .list-ios>.item-wrapper:last-child .item-block {
        border: none;
    }
    .item-ios ion-thumbnail ion-img,
    .item-ios ion-thumbnail img {
        width: 90px;
        height: 90px;
    }
    .label-ios,
    .label-md {
        margin: 10px 8px 10px 0;
    }
    .list-md,
    .list-ios {
        margin: -1px 0 5px;
    }
    .imgStyle {
        float: left;
        width: 35%;
        padding: 0px 10px;
    }
    /* Acordeon styles */
    .tab {
        position: relative;
        margin-bottom: 1px;
        width: 100%;
        color: #fff;
        overflow: hidden;
    }
    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
    label {
        position: relative;
        display: block;
        cursor: pointer;
        width: 65%;
        float: left;
    }
    .tab-content {
        max-height: 0;
        overflow: hidden;
        -webkit-transition: max-height .35s;
        -o-transition: max-height .35s;
        transition: max-height .35s;
        width: 100%;
    }
    .tab-content p {
        margin: 10px;
    }
    /* :checked */
    input:checked~.tab-content {
        max-height: 10em;
        overflow: auto;
        position: relative;
        top: 15px;
    }
    /* Icon */
    label::after {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 3em;
        height: 3em;
        line-height: 3;
        text-align: center;
        -webkit-transition: all .35s;
        -o-transition: all .35s;
        transition: all .35s;
    }
}