<ion-header no-border class="shadow-border">
    <ion-navbar hideBackButton color="white">
        <ion-title mode="ios">
            <img src="assets/imgs/nsicon.svg">
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <p>
        {{preregisterPage?.title}}
    </p>
    <div class="tab" *ngFor="let cont of preregisterPage?.content; let i=index">
        <ion-item>
            <div class="imgStyle">
                <img class="img" [src]="cont.photourl" />
            </div>
            <label for="tab-{{i}}">
        <h2>{{cont.name}}</h2>
        <p>{{cont.shortdesc}}</p>
      </label>
        </ion-item>
    </div>
    <button class="smMarginTop" ion-button full round color="secondary" (click)='openRegistrationPage();'>REGISTER</button>
</ion-content>

<ion-footer no-border>
    <ion-toolbar color="white">
        <ion-title mode="ios">
            <img src="assets/imgs/nnilogo.svg">
        </ion-title>
    </ion-toolbar>
</ion-footer>