<ion-header no-border class="shadow-border">
    <ion-navbar color="white" align-title="center">
        <button ion-button menuToggle icon-only>
          <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title mode="ios">
            <img src="assets/imgs/nsicon.svg">
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="gradientDiv">
        <h2>SLIDES</h2>
    </div>
    <div class="marginTop80">
        <ion-card *ngFor="let cont of slidesPage?.content">
            <img [src]="cont.slideurl" />
            <ion-card-content>
                <ion-card-title>{{cont.head}}</ion-card-title>
                <p>{{cont.para}}</p>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>