page-slides {
    .marginTop80 {
        margin-top: 80px;
    }
    .card-md p {
        color: color($colors, secondary);
    }
    .card-title-md {
        font-size: 1.8rem;
        color: color($colors, dark);
        padding: 0px 0;
    }
    
}